// Define variables for your color scheme

// For example:
$white: rgb(255,255,255);
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #F7CD63;
$light-yellow: #F9DD70;
$dark-yellow: #F7C263;
$orange: #E67E22;
$green: #06C392;
$gray: #9C9C9C;
$light-gray: rgba(220,224,244,0.7);
$dark-gray: #323237;
$black: rgb(0,0,0);
