 <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.5) 50%), url('http://res.cloudinary.com/unitiximagecloud/image/upload/v1519665010/shopping_bag.jpg');">
  <div class="banner-content-container">
    <div class="banner-content">
      <h1 class="text-center">VouchCouch</h1>
      <p>All your voucher needs</p>
      <p>Explore for any occasion!</p>

      <div class="banner-search">
        <p>
          <%= form_tag vouchers_path, method: :get, class: 'form-inline search-form' do %>
            <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search by name (Amazon, Topshop, etc.)"
          %>
        </p>
          <p><%= submit_tag("Search", class: 'btn btn-primary', id: 'search-button') %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<span id="banner-typed-text"></span>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    <i class="fa fa-heart"></i> VouchCouch
    <span>© Ben, Amresh, Cheryl 2018</span>
  </div>
</div>
