 <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.5) 50%), url('http://res.cloudinary.com/unitiximagecloud/image/upload/v1519665010/shopping_bag.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">

        <div class="banner-content">
          <h1 class="text-center">VouchCouch</h1>
          <p>All your voucher needs</p>

          <div class="search-cta">
            <p>Explore for any occasion!</p>
            <label for="search" id="search-description">

            </label>
            <input type="text" class="form-control" id="search" placeholder="e.g. spa">
            <%= link_to vouchers_path do %>
            <input type="submit" value="Discover!" id="search-btn" class ="done-btn">
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

  <span id="banner-typed-text"></span>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    <i class="fa fa-heart"></i> VouchCouch
    <span>© Ben, Amresh, Cheryl 2018</span>
  </div>
</div>
