.card {
  background-color: $white;
  opacity: 0.9;
  height: 320px;
  padding: 0 0;
  margin: 20px 10px;
  border: solid 0.4px $green;
  border-radius: 5px;
  padding: 10px 10px;
  box-shadow: 0 0 10px $gray;

  .card-content {
    padding: 10px 0;
    color: $green;

    .quantity-left {
      padding: 5px 0;
      border-bottom: 1px solid $green;
      font-size: 14px;
      color: $dark-gray;
    }

    .highlight-red {
      color: $red;
    }

    .days-left {
      font-size: 14px;
      color: $dark-gray;
    }
  }

  .card-image {
    display: flex;
    justify-content: center;
    height: 60%;
    width: 100%;

    img {
      width: 100%;
      height: 100%,
    }
  }
}

.card:hover {
  background-image: linear-gradient(rgba(78,90,73,0.1), rgba(78,90,73,0.2));
  a {
    text-decoration: none;
  }
}
