.card {
  background-color: $white;
  opacity: 0.9;
  height: 280px;
  padding: 0 0;
  margin: 20px 10px;
  border-radius: 5px;
  padding: 10px 10px;
  box-shadow: 15px 20px 60px 0 rgba(0,0,0,.16);

  .card-content {
    padding: 10px 0;
    color: $dark-gray;

    .red-text {
      color: $red;
    }

    .green-text {
      color: $green;
    }

    .underline-green {
      padding: 5px 0;
      border-bottom: 1px solid $green;
      font-size: 14px;
    }
    .days-left {
      font-size: 14px;
      color: $dark-gray;
    }
  }
  .card-image {
    display: flex;
    justify-content: center;
    height: 60%;
    width: 100%;
    border-radius: 5px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 3px;
    }
  }
}
.card:hover {
  box-shadow: none;
  border: 1px solid $light-gray;

  a {
    text-decoration: none;
  }
}
.card-content {
  position: relative;

}
.btn-show-all {
  position: absolute;
  border-radius: 6px;
  background-color: $light-blue-gray;
  color: #FFF;
  text-transform: uppercase;
  width: 80px;
  margin: 0 0 0 auto;
  line-height: 40px;
  font-size: 12px;
  text-align: center;
  right: 0px;
  bottom: 10px;
  &:hover {
    background: #a9b5bc;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  }
}

// showpage card

.show-group-card {
  box-shadow: 15px 20px 60px 0 rgba(0,0,0,.16);
  margin: 20px 45px;
  background-color: $dark-gray;

  .card-image img {
    background-size: cover;
    background-position: center;
    height: 180px;
    width: 100%;
  }

  a {
    color: $green;
  }

  a:hover {
    text-decoration: none;
  }

  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $green;
    padding: 5px 5px;

    h5, p {
      padding: 10px 10px;
      margin: 0 0;
      font-weight: bold;
    }

    .card-price {
      border: 1px solid $red;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      align: justify;
      background-color: $red;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
    }
  }

  .card-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 0px;

    .quantity-and-button {
      text-align: center;
      padding: 10px 20px;
      border-left: 1px solid $green;
      .btn {
        width: 75px;
      }
    }

    .voucher-details {
      padding: 10px 20px;
      p {
      font-weight: bold;
      font-size: 20px;
      }
    }

    .card-quantity {
      font-weight: bold;
      font-size: 20px;
    }
  }

}


.show-group-content {
  display: flex;

  .cards-and-header {
    width: 66%;
  }
}
