.form-control, .form-control:focus{
  padding:15px !important;
  -webkit-appearance: none !important;
  font-size: 14px;
  border: 1px solid #DDD;
  border-radius: 5px !important;
  outline: none !important;
  background-color:#fff !important;
  box-shadow: 0 !important;
}

select, .drop-down, .drop-down {
    padding:9px 15px !important;
  -webkit-appearance: none !important;
  font-size: 14px;
  border: 1px solid #DDD;
  border-radius: 5px !important;
  outline: none !important;
  background-color:#fff !important;
  box-shadow: 0 !important;
}

.form-group {
  margin: 0 0 0 0 !important;
}

label {

}
