.form-group{
  margin-bottom: 25px;
}
.form-control{
  border-radius: 2px;
  height: 4rem;
}
#form-description{
  height: 50px;
  margin-bottom: 10px;
}
.list-voucher-img {
  width: inherit;
  max-width: 100%;
  opacity: 0.85;
}
.list-voucher-title {
  font-size: 24px;
  color: #4cb289;
  bottom: 80px;
  font-family: sans-serif;
}

