<h3 class="text-center">List a voucher</h3>

<% if @voucher.errors.any? %>
  <ul>
    <% @voucher.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'form', voucher: @voucher %>

<%= link_to 'Cancel', vouchers_path %>
